/* GLOBAL COLORS */
/*
 * Orange: #d54718
 */

/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: Raleway;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 2em;
}

/* GLOBAL */
a:hover {
    color: rgb(111, 111, 111);
    transition: all 0.3s ease 0s;
}

a:visited {
    text-decoration: none;
    color: white;
}

.btn-primary {
    background-color: purple;
}

/* BODY */
body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2vw auto 5vw;
}

/* -- HEADER -- */
.site-header {
    grid-column: 1 / span 5;
    background-image: linear-gradient(#a52f08de, #2c140c);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 10px;
}

.site-header .header-nav {
    grid-column: 2 / span 1;
}

.site-header .header-contact {
    grid-column: 4 / span 1;
}

.site-header ul {
    list-style-type: none;
}

.site-header ul li {
    display: inline;
    margin: 0 1em;
}

.site-header li a {
    color: white;
    text-decoration: none;
}

.site-header li a:hover {
    color: gray;
    text-decoration: none;
}

/* -- CONTENT -- */
.site-content {
    grid-column: 1 / span 5;
    background-color: lightgreen;
}

.site-content .row {
    grid-column: 2 / span 4;
}

/* CONTENT: COVER */
.site-content #cover {
    background-image: url("../images/img-bg-computer-01.jpg");
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
}

.site-content h1 {
    color: white;
}


/* CONTENT: ABOUT */
.site-content #about {

}

/* CONTENT: PRODUCTS */


/* CONTENT: PROJECTS */

/* -- FOOTER -- */
.site-footer {
    grid-column: 1 / span 5;
    background-color: lightseagreen;
}
