/* GLOBAL COLORS */
/*
 * Black: ##181716
 */

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', 'Arial', sans-serif;
}

/* FONT SIZE */
h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: Poppins;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
    text-shadow: 2px 2px #c23705;
}

h2 {
    font-size: 3em;
}

a, button {
    font-size: 14px;
    font-weight: 700;
}

/* BUTTONS */
.btn {
    padding: 10px 20px;
    border-radius: 2em;
    border-color: transparent; 
}

.btn-primary {
    background-color: rgba(252, 252, 252, 0.933);
}

.btn-primary a {
    font-size: 14px;
    font-weight: 700;
    font-style: bold;
    color: black;
}

.btn-primary:hover {
    background-color: #c23705;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.btn-primary:visited {
    border-color: transparent;
}

.btn-primary > a:hover {
    color: rgb(255, 255, 255);
}

@media (max-width: 1000px) {
    .btn {
        padding: 5px 10px;
        border-radius: 1em;
    }
}


/* LINKS */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: rgb(111, 111, 111);
    transition: all 0.3s ease 0s;
}

/* BODY */
body {
    /* Grid */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px auto 5vw;

    /* Rules */
    background-color: #000000;
}

/* HEADER */
.site-header {
    grid-column: 1 / span 5;
    background-image: linear-gradient(to right, #000000, #000000);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.site-header ul {
    list-style-type: none;
}

/* Larger than desktop */
@media (min-width: 1200px) {
    .site-header .header-site-title {
        margin: auto;
        grid-column: 1;
        grid-row: 2;
        text-align: center;
        vertical-align: center;
    }

    .site-header .header-nav {
        margin: auto;
        grid-column: 2 / span 3;
        grid-row: 2 / span 1;
    }

    .site-header ul li {
        display: inline;
        margin: 0 1em;
    }

    .site-header .header-contact {
        margin: auto;
        grid-column: 5 / span 1;
        grid-row: 2 / span 1;
    }

    .site-header #mobile-nav {
        display: none;
    }

    .site-header #mobile-site-title {
        display: none;
    }
}

@media (max-width: 1200px) {
    .site-header .header-nav, .site-header .header-contact {
        display: none;
    }

    .site-header #mobile-nav {
        grid-column: 1;
        grid-row: 2;
        margin: auto 5px;
    }
    .site-header .header-site-title {
        display: none;
    }

    .site-header #hamburger {
        display: inline;
    }

    .site-header #angle {
        display: none;
    }

    .site-header #mobile-site-title {
        display: inline;
        grid-column: last;
        grid-row: 2;
        text-align: left;
        margin: auto 10px;
    }
}

/* CONTENT */
.site-content {
    grid-column: 1 / span 5;
    background-color: lightgreen;
}

.site-content .row {
    grid-column: 2 / span 4;
}

/* CONTENT: COVER */
.site-content #cover {
    background-image: url("../images/img-bg-computer-01.jpg");
    background-size: cover;
    background-repeat: none;
    background-attachment: scroll;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.site-content > #cover > #cover-title {
    margin: auto;
    grid-column: 2 / span 3;
    grid-row: 1;
    text-align: center;   
}

.site-content > #cover > #cover-title > h1 {
    font-size: 72px;
}

.site-content > #cover > #cover-title > h2 {
    margin-top: 5%;
}

.site-content > #cover > #cover-title > h2 {
    font-size: 24px;
}

.site-content > #cover > #cover-title > #cover-btns {
    margin-top: 5%;
}

@media (max-width: 1200px) {
    .site-content > #cover {
        background-color: black;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }


    .site-content > #cover > #cover-title > h1 {
        font-size: 48px;
    }

    .site-content > #cover > #cover-title > h2 {
        font-size: 14px;
    }
}

@media (max-width: 700px) {
    .site-content > #cover > #cover-title > h1 {
        font-size: 32px;
    }

    .site-content > #cover > #cover-title > h2 {
        font-size: 12px;
    }
}

/* CONTENT: ABOUT */
/* Desktop */
@media (min-width: 1200px) {
    .site-content > #about {
        /* Background */
        background-color: black;
        
        /* Grid */
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);

        /* Rules */
        justify-items: center;
        padding-bottom: 50px;
    }

    .site-content #about-header {
        /* Grid */
        grid-column: 3 / span 1;
        grid-row: 1;

        /* Rules */
        text-shadow: 2px 2px #c23705;
    }

    .site-content #about-desc {
        /* Grid */
        grid-column: 2 / span 3;
        grid-row: 2;

        /* Rules */
        text-align: center;
    }
}

/* Mobile */
@media (max-width: 1200px) {
    .site-content > #about {
        /* Background */
        background-color: black;
        
        /* Grid */
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);

        /* Rules */
        justify-items: center;
        padding-bottom: 50px;
    }

    .site-content #about-header {
        /* Grid */
        grid-column: 1 / span 5;
        grid-row: 1;

        /* Rules */
        text-shadow: 2px 2px #c23705;
    }

    .site-content #about-desc {
        margin-top: 20vw;
        /* Grid */
        grid-column: 2 / span 3;
        grid-row: 1;

        /* Rules */
        text-align: center;
    }
}


/* CONTENT: PRODUCTS */
.site-content > #products {
    
}

/* CONTENT: PROJECTS */
.site-content > #projects {
    
}

/* FOOTER */
.site-footer {
    grid-column: 1 / span 5;
    background-color: lightseagreen;
}
