/* ------------------------------------ Reset --------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', 'Arial', sans-serif;
}

/* ------------------------------------ Global --------------------------------- */
h1, h2, h3, h4, h5, h6 { font-weight: 700; line-height: 1.25; color: white; }
a, span, p, li { font-family: "Roboto"; font-size: 1.0rem; font-weight: 600; line-height: 1.25; color: white;}
h1 { font-size: 6.25rem; }
h2 { font-size: 3.5rem; }
h3 { font-size: 3.0rem; }
h4 { font-size: 2.5rem; }
h5 { font-size: 2.0rem; }
h6 { font-size: 1.0rem; }
a, li { text-decoration: none; list-style-type: none; }

/* ------------------------------------ Buttons --------------------------------- */
.btn {
  font-family: "Roboto", "Arial", "sans-serif";
  background-color: white;
  padding: 5px 20px;
  border-radius: 5px;
}

.btn:hover {
  transition: all 0.3s ease 0s;
}

/* Primary button */
.btn-primary {
  background-color: blue;
}

.btn-primary:hover, .btn-primary a:hover {
  background-color: aliceblue;
  color: white;
}

/* Secondary button */
.btn-secondary {
  background: white;
}

.btn-secondary > a {
  color: black;
}

/* ------------------------------------ Links --------------------------------- */
.link:hover {
  transition: all 0.3s ease 0s;
  color: white;
}

/* Primary link */
.link-primary:hover { 
  color: rgb(151, 151, 151);
}

/* Secondary link */
.link-secondary {
  color: blue;
}

.link-secondary:hover {
  color: rgb(151, 151, 151);
}

/* ------------------------------------ Wrapper --------------------------------- */
.site-wrapper {

  /* Styles */
  background-color: rgb(33, 33, 33);

  /* Flexbox */
  display: flex;
  flex-direction: column;
  justify-items: center;
}

/* ------------------------------------ Header --------------------------------- */

/* Desktop */
@media (min-width: 1000px) {
  
  /* Parent */
  .site-wrapper > .site-header > .header-desktop-nav {
    
    /* Position */
    padding: 10px 0;

    /* Background */
    background: red;

    /* Flex */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  /* Site title */
  .site-header .header-site-title {
    margin: 0;
  } 

  /* Nav */
  .site-header .header-nav {
  }

  .site-header .header-nav ul li {
    margin: 0 10px;
    display: inline;
  }

  /* Contact btn */
  .site-header .header-contact-btn {

  }
}

/* ------------------------------------ Hero --------------------------------- */
@media (min-width: 1000px) {
  
  /* Parent */
  .site-wrapper > .site-hero {

    /* Background */
    background-image: url("../../../images/exercise/img-bg-hero-exercise.jpg");
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;

    /* Overlay */
    box-shadow:inset 0 0 0 2000px rgba(28, 26, 34, 0.707);

    /* Flex */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  /* Temp */
  .site-hero > h1 {
  }
}

/* ------------------------------------ Content --------------------------------- */
@media (min-width: 1000px) {
  .site-wrapper > .site-content {
  }
}

/* ------------------------------------ Footer --------------------------------- */
@media (min-width: 1000px) {
  .site-wrapper > .site-footer {
  }
}